# ===============================
# Laravel / PHP
# ===============================

/vendor
/node_modules
/.idea
/.vscode
/.env
/.env.local
/.env.*.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/storage
/storage/*.key
/storage/framework/cache/data
/storage/logs
/storage/debugbar
.phpunit.result.cache
.php_cs.cache

# Composer
composer.phar

# Laravel Mix / Vite
/public/hot
/public/mix-manifest.json
/public/css/app.css
/public/js/app.js
/public/build/

# ===============================
# React / Node
# ===============================

/build
/.DS_Store
/.eslintcache
/package-lock.json
/yarn.lock
/node_modules
/.pnp
.pnp.js

# ===============================
# OS / IDE
# ===============================

.DS_Store
Thumbs.db
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
